/* game-section.css */

.game-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  }
  
  .game-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f1f2e; /* Rich navy */
    border-radius: 12px;
    padding: 16px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
  
  .game-card:hover {
    transform: scale(1.05);
    background-color: #29293f; /* Brighter navy on hover */
  }
  
  .game-animation-wrapper {
    flex: 0 0 50px; /* Consistent size for animations */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .game-info {
    flex-grow: 1;
    margin-left: 16px;
  }
  
  .game-info h3 {
    color: #ffbf00; /* Gold */
    font-size: 16px;
    margin: 0;
  }
  
  .game-info p {
    color: #d9d9d9; /* Light gray */
    font-size: 14px;
    margin: 0;
  }
  
  .game-arrow {
    font-size: 20px;
    color: #ffbf00; /* Gold */
  }